
@{
      ViewData["Title"] = "Home Page";
}

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Sample" asp-action="Index">Sample</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="SampleDB" asp-action="Index">SampleDB</a>
        </li>
    </ul>
</div>
