root = true

[*.cshtml]
tab_width = 2 # タブ幅(効いてない？)

[*.cs]
dotnet_sort_system_directives_first = true # using並べ替え
max_line_length = 90 # 1行の最大文字数(効いてない？)
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true
